.experienceCard {
    margin-bottom: 20px;
}

.experience {
    display: flex;
    justify-content: space-between;
}

.experienceDate {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: $text-font;

    span {
        font-family: $text-font;
        text-transform: uppercase;
        color: $primary-color;
    }
}

@media screen and (max-width: 768px) {

    h2 {
        padding: 70px 0 30px 0;
    }
}